<ons-page ng-controller="InitSettingsController">
      <ons-toolbar>
        <div class="left"><ons-toolbar-button ng-click="initNavigator.popPage()">{{"CLOSE"|translate}}</ons-toolbar-button></div>
        <div class="center">{{"ABOUT"|translate}}</div>
      </ons-toolbar>
       <ons-list class="settings-list">
        <ons-list-item >
            <ons-row align="middle" style="margin:0;">
                <ons-col align="left">
                    <div>{{"LANGUAGE"|translate}}</div>
                </ons-col>
                <ons-col align="right" style="margin:0">
                    <div>
                    <div style="display:inline-block;" align="top">EN</div>
                    <div style="display:inline-block;"><div style="margin-top:5px"><ons-switch ng-model="languageSwitch" ng-change="changeLanguage(languageSwitch)" ng-true-value="1" ng-false-value="0"></ons-switch></div></div>
                    <div style="display:inline-block;">FR</div>
                    </div>
                </ons-col>
            </ons-row>
        </ons-list-item>
       </ons-list>
      <ons-list class="settings-list">
        <ons-list-item modifier = "chevron" >
         {{"SENDFEEDBACK"|translate}}
        </ons-list-item>
        <ons-list-item modifier = "chevron">
          {{"RATETHISAPP"|translate}}
        </ons-list-item>
      </ons-list>

     <ons-list class="settings-list">
        <ons-list-item modifier="chevron" ng-click="openDeviceSettings()">
          {{"OPENDEVICESETTINGS"|translate}}
        </ons-list-item>
         <ons-list-item modifier="chevron" ng-click="openDeviceSettings()">
          {{"SECUREYOURDEVICE"|translate}}
        </ons-list-item>
      </ons-list>
      
      <ons-list  class="settings-list">
        <ons-list-item modifier="chevron" ng-click="openPageLegal('TOU')">
           {{"TERMSOFUSE"|translate}}
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="openPageLegal('PP')">
          {{"PRIVACYPOLICY"|translate}}
        </ons-list-item>
      </ons-list>

      <br>

      <ons-list  class="settings-list">
        <ons-list-item >
         {{"APPVERSION"|translate}}
          <span style=" position: absolute;right: 20px;top: 0px;opacity:0.6">{{version}}</span>
        </ons-list-item>
      </ons-list>


    </ons-page>