<ons-page ng-controller="QuestionnairesController">
    <ons-toolbar>
      <div class="left">
          <ons-back-button>Back</ons-back-button>
      </div>
        <div class="center">Questionnaires</div>
    </ons-toolbar>
    <div style="margin-top:15vh;color:grey" class="text-center">
      Available Soon!
    </div>
    <ons-carousel>
    	<ons-carousel-item ng-repeat="question in questions">
    	<div ng-show="question.Type=='scale'">
    	scale
    	</div>
    	<div ng-show="question.Type=='body'">
    	body
    	</div>
    	</ons-carousel-item>
    </ons-carousel>

 </ons-page>
