  <ons-page ng-controller="IndividualAppointmentController">
    <ons-toolbar >
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">Appointment</div>
    </ons-toolbar>
    <div style="margin-top:5vh">
    <ons-list>
      <ons-list-item class="item">
        <div style="line-height:1" align="left">
          <header>
              <span class="item-title" ng-class="fontSizeTitle">{{app.AppointmentType_EN}}</span>

          </header>
          <p class="item-desc" ng-class="fontSizeDesc">{{app.ScheduledStartTime|formatDateAppointmentTask}}</p>
          <p class="item-desc" ng-class="fontSizeDesc">{{app.ResourceName}}</p>
        </div>
      </ons-list-item>
    </ons-list>
    <ons-list class="settings-list" >
      <ons-list-item modifier="tappable" ng-click="goToMap()">
        <div class="text-center" style="color:grey" ng-class="fontSizeDesc">
            <i class="ion-location iconHomeView"></i>  Location &raquo;
        </div>
       </ons-list-item>
    </ons-list>
  </div>
  </ons-page>
