<ons-page ng-controller="individualEduMaterialController" ng-device-backbutton="educationDeviceBackButton()">
  <ons-toolbar>
      <div class="left">
        <ons-back-button>Back</ons-back-button>
      </div>

    <div class="center">Education Factsheet</div>
  </ons-toolbar>
  <div class="container" style="background-color:white;padding-top:10px;margin:1px solid black">
    <div ng-bind-html="htmlBind"></div>
  </div>
  <!--<div id="frameEducational">
    <iframe  ng-src="{{url}}" style="width:100vw;height:100%"></iframe>
  </div>-->
</ons-page>
